h1{
    background: yellow;
    color: black;
}
h2{
    background: greenyellow;
    color: black;
}
p{
    background: aqua;
    color: black;
}
ul{
    background: coral;
    color: black;
}
li{
    background: antiquewhite;
    color: black;
}